<table class="table">
  <tr class="tier">
    <th class="tier__th">ID</th>
    <th class="tier__th">Full name</th>
    <th class="tier__th">Position</th>
    <th class="tier__th">Birthday</th>
    <th class="tier__th">Working status</th>
  </tr>
  <tr class="tier" *ngFor="let employee of employees" routerLink="/profile/{{employee.id}}">
    <td class="tier__td">{{employee.id}}</td>
    <td class="tier__td">{{employee.name}}</td>
    <td class="tier__td">{{employee.position}}</td>
    <td class="tier__td">{{employee.birthday.slice(0,10)}}</td>
    <td class="tier__td">{{employee.status}}</td>
  </tr>
</table>
<button class="button" [disabled]="prevDisabled" (click)="onPrev()">Назад</button>
<button class="button" [disabled]="nextDisabled" (click)="onNext()">Дальше</button>
