<!--The content below is only a placeholder and can be replaced.-->
<div class="main-page">
  <div class="header">
    <h1 class="header__text">Компания К</h1>
  </div>
  
  <nav class="navigation">
    <button class="navigation__item" routerLink="/main-page">Главная</button>
    <button class="navigation__item" routerLink="/employees">Список сотрудников</button>
    <button class="navigation__item" routerLink="/profile">Профиль</button>
  </nav>
  <router-outlet class="main-page__router"></router-outlet>
</div>

