<div class="container">
  <h1 class="container__h1">
    Компания К
  </h1>
  <p class="container__text">
    Стабильная, динамично развивающаяся компания, которая в своем лице совмещает функции как заказчика и
    застройщика, так и инвестора, и строителя. Задача, которая стоит перед компанией, заключается не только в воплощении
    в жизнь бизнес-проектов, но и в возможности создавать комфортные условия жителям города Н.
  </p>
  <a href="tel:+7(9XX)XXXXXXX" class="container__phone"><div class="container__phone__image"></div> +7 (9XX) XXX-XX-XX</a>
  <div class="image-holder">
    <div class="image-holder__image_trust">
      <p class="image-holder__image__text">Доверие</p>
    </div>
    <div class="image-holder__image_team">
      <p class="image-holder__image__text">Сплоченная команда</p>
    </div>
    <div class="image-holder__image_house">
      <p class="image-holder__image__text">Ваш надежный советник в выборе жилища</p>
    </div>

  </div>
</div>
